html,body {
    min-height:100%;
}
body {
    background-color: #69f;
    background:-webkit-linear-gradient(#69f,#58f);
    background:-moz-linear-gradient(#69f,#58f);
    background:-o-linear-gradient(#69f,#58f);
    background:-ms-linear-gradient(#69f,#58f);
    background:linear-gradient(#69f,#58f);
}
body > header {
    background-color:#333;
    background:-webkit-linear-gradient(#666,#333);
    background:-moz-linear-gradient(#666,#333);
    background:-o-linear-gradient(#666,#333);
    background:-ms-linear-gradient(#666,#333);
    background:linear-gradient(#666,#333);
    border-bottom:1px solid #0000FF;
}
body > header > h1 {
    margin: 0px;
    line-height: 1.5;
    text-align:left;
    color:#fff;
    padding: 10px;
}
body > section {
    padding-top: 20px;
    background: #fff;
}
body > section .panel > .jumbotron {
    margin: 10px; 
}
body > section p.center {
    text-align: center;
}
body > footer {
    background-color:#333;
    background:-webkit-linear-gradient(#666,#333);
    background:-moz-linear-gradient(#666,#333);
    background:-o-linear-gradient(#666,#333);
    background:-ms-linear-gradient(#666,#333);
    background:linear-gradient(#666,#333);
    border-top:1px solid #0000FF;
}
body > footer > p {
    color:#FFF;
    line-height:3;
    text-align: right;
    padding:10px;
    margin: 0px;
}
a {
    font-weight: bold;
}